# Папка сборки (самое важное!)
build/

# Временные файлы Python
__pycache__/
*.py[cod]
*$py.class

# Файлы настроек SDK 
sdkconfig
sdkconfig.old
main/Kconfig_draft.projbuild__

# Специфичные файлы VS Code
.vscode/